.user  {
    display: flex;
    gap: 20px;
    align-items: center;
}
.userName {
    margin-left: 30px;
}
.title {
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    margin: 0;
}
.subtitle {
    opacity: 0.3;

}

.follow {
    cursor: pointer;
    border: 2px solid #5677AD;
    border-radius: 45px;
    color: #5677AD;
    width: 105px;
    height: 40px;
    background: #E5E5E5
}
.follow:active {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.aboutUser {
    margin-top: 40px;
    font-weight: 400;
    font-size: 22px;
}

.backBlock {
    display: flex;
    align-items: center;
    gap: 15px;
}
.arrow {
    height: 15px;
    width: 20px;
}
.back {
    font-weight: 400;
    font-size: 26px;

}
